
@{
    ViewBag.Title = "Work";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="mb-4">Our Work</h2>
                <p class="work-category">
                    <span class="px-2"><a href="#" class="active">All</a></span>
                    <span class="px-2"><a href="#">Make Up</a></span>
                    <span class="px-2"><a href="#">Massage</a></span>
                    <span class="px-2"><a href="#">Facial</a></span>
                    <span class="px-2"><a href="#">Spa</a></span>
                    <span class="px-2"><a href="#">Hair</a></span>
                    <span class="px-2"><a href="#">Nail</a></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <a href="#" class="work-entry">
                    <img src="../../images/work-1.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Lips Makeover</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/Hairstyling3.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Hair Style</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="#" class="work-entry">
                    <img src="../../images/Glam World.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Makeup</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/nail-art.jpeg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Nail Art</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/hairstyles2.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Hair Style</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/makeover1.jpeg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Makeup</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/nailart2.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Nail Art</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="work-entry">
                    <img src="../../images/hairstyling-6.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Hair Style</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="#" class="work-entry">
                    <img src="../../images/Makover3.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Makeup</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

